html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1;
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 100%;
    background-color: #15406c;
    color: #3b8d42;
    font-family: Menlo, monospace;
    line-height: 1.3;
    text-align: center;
  }
  